[Desktop Entry]
Name=WebP Converter
Icon=webpfier
Type=Utilities;
Exec=webpfier %U
Keywords=Picture;Convert;WebP;
MimeType=image/jpeg;image/png;image/gif;image/webp;image/tiff;image/x-tga;image/vnd-ms.dds;image/x-dds;image/bmp;image/vnd.microsoft.icon;image/vnd.radiance;image/x-exr;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-portable-anymap;image/x-qoi;image/avif;image/heic;image/jxl;